html, body{
  width:100%; 
  height:100%; 
  overflow-x:hidden;
  font-size: 18px;
}

#home{
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/head_main.png);
  height: 500px;
  background-size: cover;
}


#logo-name{
  font-size: 26px;
}

#logo-label{
  font-size: 16px;
}

#logo-fullname{
  display: inline-block;
}

#num{
  margin-left: 20px;
}

.header_main{
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.nav-link{
  color: black ;
  padding: 10px;
}

.nav-link:hover,.nav-link:active{
  border: #365f91 solid 2px;
  border-radius: 10px;
  padding: 8px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: 500;
}

#text_header{
  padding-top: 90px;
}

#baner_text{
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  line-height: 70px;
  color: #fff;
}


.baner-t{
  text-align: center;
}

#btn-contact{
  margin-top: 45px;
  padding: 20px 50px;
  font-weight: 500;
  
}

a{
  color: black;
}

a:hover{
  color: #365f91;
}

#logo{
  font-size: 17px;
  text-align-last: center;
  margin-left: 10px;
}

.btn-general{
  display: inline-block;
  padding: 8px 25px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: 0 3px #203957;

  color: #fff;
  background-color: #365f91;
  border-color: #365f91;
  border-radius: 10px ;
  
  overflow-x: hidden; 
  position: relative; 
}

.btn-general .flare {
  position: absolute;
  animation: flareAnimation;
  top: 0;
  height: 100%;
  width: 55px;
  transform: skewX(-45deg); 
  animation: flareAnimation;
  left: -150%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.4));
  animation: flareAnimation 5s infinite linear;
}

@keyframes flareAnimation {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

.btn-general:hover{
  color: #fff;
  background-color: #365f91;
  box-shadow: 0 1px #203957;
  transform: translateY(3px);
}

.anchor{
  margin-bottom: 30px
}

#list{
  margin-right: auto;
  margin-left: auto;
}

h3{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.sq-service{
  position: relative;
  background-color: #aaa;
  height: 350px;
  width: 350px;
  text-align: center;
  border-radius: 10px;
  position:relative;
  border: #365f91 2px solid;
  margin-bottom: 30px;
}

.wrapper{
	display: flex;
  justify-content: center;
}

.label-sq{
  position: absolute;
  bottom: -1.2px;
  left: 0;
  height: 60px;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
}
.label-sq:hover{
  height: 70px;
  padding-top: 15px;
}

.label-top-sq{
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-shadow: white  1px 1px 0, white -1px -1px 0, 
  white -1px 1px 0, white 1px -1px 0;
}

#serv1{
  background-image: url(img/serv1.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

#serv2{
  background-image: url(img/serv2.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

#drawings{
  background-color: whitesmoke;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}


#contact{
  background-color: whitesmoke;
  padding-left: 0;
  padding-right: 0;
  font-size: 22px;
}

.dr-slid{
  height: 300px;
}

#order-form{
  border: #365f91 solid 2px;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin-bottom: 50px;
}

.form-control{
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control:focus{
  border-color: #365f91;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 8px rgba(54,95,145, .7);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.05), 0 0 8px rgba(54,95,145, .7);
}



.navbar-expand-md .navbar-nav {
  flex-direction: row;
}

.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}

#logo-img{
  height: 70px;
  width: 70px;
  margin-top: -40px;
}

#disp-none-2{
  display: none;
}

#disp-none-1{
  display: none;
}

#small-numb{
  display: none;
}
.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}
 
.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
 
.input__file-icon-wrapper {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}
 
.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}
 
.input__file-button {
  width: 100%;
  max-width: 250px;
  height: 40px;
  background: #365f91;
  color: #fff;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 3px #203957;
}

.input__file-button:hover{
  color: #fff;
  background-color: #365f91;
  box-shadow: 0 1px #203957;
  transform: translateY(3px);
}

button.btn-general{
  width: 250px;
}

#foot{
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width:992px) {
  

  #baner_text{
    font-size: 18px;
    line-height: 40px;
  }

  #btn-contact {
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: 500;
  }

  .nav-item{
    margin-left: 10px;
    margin-right: 10px;
  }

  #logo-name{
    font-size: 22px;
  }
  
  #logo-label{
    font-size: 12px;
  }

  #logo-img{
    height: 50px;
    width: 50px;
  }
  
}

@media screen and (max-width:768px) {
  
  #baner_text{
    font-size: 26px;
    line-height: 45px;
  }
  #btn-contact {
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: 400;
  }
  .navbar-expand-md .navbar-toggler {
    display: block;
  }
  #navbarCollapse{
    display: none !important;
  }
  #big-numb{
    display: none;
  }
  #disp-none-1{
    display: block;
  }
  #disp-none-2{
    display: block;
  }
  #small-numb{
    display: block;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
  }
  #list {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width:576px) {
  body{
    font-size: 16px;
  }
  .navbar-toggler {
    display: none;
  }
  #baner_text {
    font-size: 20px;
    line-height: 35px;
  }
  #btn-contact {
    margin-top: 1em;
    padding: 1em 2em;
    font-weight: 500;
  }
  #logo-img {
    margin-top: -25px;
  }
  .navbar-brand {
    margin-right: 0.15rem;
  }
  #logo {
    margin-left: 0px;
  }
  #big-numb{
    display: none;
  }
  #small-numb{
    display: block;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
  }
  #disp-none-1{
    display: block;
  }
  #disp-none-2{
    display: block;
  }
  #logo-name{
    font-size: 20px;
  }
  #logo-label{
    font-size: 10px;
  }
  #order-form {
    margin-top: 20px;
  }
}

@media screen and (max-width:430px) {
  .carousel-indicators{
    display: none;
  }
}